.card {
	border-color: transparent;
	box-shadow: var(--main-box-shadow);
	background-color: #fff;
	padding:12px;
}

.shadow {
	box-shadow: var(--main-box-shadow);
	transition: var(--main-transition);
}

.hover {
	&:hover {
		box-shadow: var(--main-box-shadow-hover);
	}
}

.border {
	border: 1px solid #eee;
}

.cover {
	.cardImg {
		.img {
			object-fit: cover;
		}
	}
}
