.rs-container {
  padding: 0;
}

@media (min-width: 767px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.5;
  }
  p {
    font-size: 16px;
    line-height: 2;
  }
}
.rs-carousel {
  box-shadow: var(--main-box-shadow);
  background: #fff;
  overflow: hidden;
  border-radius: 4px;

  .rs-carousel-content {
    background: #fff;
    overflow: hidden;
    border-radius: 4px;
    .rs-carousel-slider {
      background: #fff;
      overflow: hidden;
      border-radius: 4px;

      .rs-carousel-slider-item {
        background-color: #fff !important;
        div,
        span,
        img {
          border-radius: 4px;
        }
      }
    }
  }
  .rs-carousel-toolbar {
    li.rs-carousel-label-wrapper {
      .rs-carousel-label {
        background-color: var(--rs-blue-100);
      }
      & input:checked ~ label {
        background-color: var(--rs-blue-800);
      }
    }
  }
}
.form-product {
  .rs-form-group,
  label {
    margin-bottom: 0 !important;
    // font-size: 16px;
    font-weight: 500;
  }
}

.rs-title {
  .rs-plaintext {
    font-size: 20px;
    font-weight: 600;
  }
}
.rs-price {
  .rs-plaintext {
    font-size: 16px;
  }
}

.rs-description {
  .rs-plaintext {
    display: block;
  }
}

.product_detail {
  .rs-panel-body {
    padding: 12px;
    padding-top: 0;
  }
  .rs-panel-header {
    padding: 12px;
  }
}

p + p {
  margin-top: 4px !important;
}

// Tree data
.rs-tree {
  max-height: 100vh;
  overflow: overlay;
  min-height: calc(100vh - 88px - 56px - 38px - 48px);
}
.rs-tree-km {
  .rs-tree-nodes {
    div[role='treeitem'] {
      display: flex !important;
      align-items: flex-start;
      padding: 0 !important;
      flex-direction: column;
      justify-content: center;
      gap: 12px;
      .rs-tree-node-label {
        .rs-tree-node-label-content {
          .km-node-item {
            gap: 12px;
            align-items: center;
            justify-content: space-around;
            span {
              min-width: 150px;
            }
          }
        }
      }
      & ~ .rs-tree-children {
        padding-left: 20px;
      }
    }
  }
}

// Menu

.rs-dropdown-selected-within {
  .rs-sidenav-item {
    color: var(--rs-blue-800);
    &:hover {
      color: var(--rs-blue-800);
    }
  }
}
