.admin {
	background-color: #eee;
	// min-height: 100vh;
	section {
		display: flex;
		gap: 12px;
		aside {
			background-color: #fff;
			min-height: 100vh;
		}
		section {
			min-height: 100vh;
		}
	}
}

.container {
	overflow-x: hidden;
	position: relative;
}

.content {
	min-height: calc(100vh - 90px);
}
