.admin {
	background-color: #eee;
	// min-height: 100vh;
	section {
		display: flex;
		gap: 12px;
		aside {
			background-color: #fff;
			min-height: 100vh;
		}
		section {
			min-height: 100vh;
		}
	}
}
