.img {
  $h: var(--h-offset);
  $w: var(--w-offset);
  cursor: pointer;
  position: relative;
  top: 0;
  background-color: transparent;
  border-radius: 4px;
  overflow: hidden;
  transition: all 0.2s;
  width: 100%;
  &:before {
    width: 100%;
    padding-bottom: calc($h / $w * 100%);
    display: block;
    content: '';
  }
  img {
    position: absolute;
    height: 100%;
    width: 100%;
    border: 0;
    top: 0;
    left: 0;
    object-position: center;
    object-fit: cover;
    border-radius: 4px;
    transition: all 0.2s;
  }
  &.fitImage {
    height: 100%;
    &:before {
      padding-bottom: unset;
      height: 100%;
    }
  }
}

.border {
  border: 1px solid rgba(233, 102, 49, 0.15);
}

.imgHover {
  &:hover {
    img {
      transform: scale(1.1);
    }
    &.border {
      border: 1px solid rgba(233, 102, 49, 0.6);
    }
  }
}
