.title {
  font-size: 30px;
  border-width: 0;
  border-bottom-width: 1px;
  border-style: solid;
  border-color: rgba(226, 226, 226, 1);
  margin-top: 30px;
  margin-bottom: 30px;
  white-space: normal;
  overflow: visible;
  text-overflow: initial;
}
.divideLeft {
  margin-left: 0;
}
.main {
  background-color: transparent;
  box-shadow: none;
}
.action {
  display: flex;
  justify-content: flex-end;
}
