.brand_image {
  position: relative;
  padding: 18px 100px;
  $width: 1024;
  $height: 239;
  $ratio: $height / $width;
  img {
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.nav {
  z-index: 99;

  .brand {
    // position: relative;
    // padding: 18px 100px;
    // $width: 1024;
    // $height: 239;
    // $ratio: $height / $width;
    // img {
    //   position: absolute;
    //   top: 0%;
    //   left: 0;
    //   width: 100%;
    //   height: 100%;
    // }
    @extend .brand_image;
  }
  .hamLeft {
    opacity: 0;
    visibility: hidden;
    display: none;
  }
  .navLinkHL {
    grid-column: 3/4;
    grid-row: 1/2;
  }
}

.sideMenu {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: none;
  li {
    border: none;
  }
}

@media (max-width: 1024px) {
  .nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    .navLeft {
      opacity: 0;
      visibility: hidden;
      display: none;
    }
    .hamLeft {
      opacity: 1;
      visibility: visible;
      display: inline-block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 15px;
    }
    .navLinkHL {
      grid-column: 3/4;
      grid-row: 1/2;
      justify-content: flex-end;
      display: flex;
    }
    .brand {
      grid-column: 2/3;
      display: flex;
      justify-content: center;
    }
  }
  .mobile_brand {
    position: relative;
    padding: 18px 100px;
    $width: 1024;
    $height: 239;
    $ratio: $height / $width;
    img {
      position: absolute;
      top: 0%;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

@media (max-width: 626px) {
  .brand {
    display: none !important;
  }
  .mobile_brand {
    position: relative;
    padding: 18px 100px;
    $width: 1024;
    $height: 239;
    $ratio: $height / $width;
    img {
      position: absolute;
      top: 0%;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.drawer {
  :global {
    @media (max-width: 626px) {
      .rs-drawer-header {
        padding: 20px 20px 20px 30px;
      }
    }
    @media (max-width: 1024px) {
      .rs-drawer-header {
        padding: 20px 20px 20px 30px;
      }
    }
  }
}
