.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.toolbar {
  @extend .flex;
  width: 100%;
  justify-content: space-between;
  .listItem {
    @extend .flex;
    align-items: center;
    .toolbarItem {
      align-items: center;
      @extend .flex;
      padding: 8px 12px 8px 0;
      border-bottom: 1px solid #eee;
    }
  }
}

// .label {

// }

.plainText {
  font-weight: 600;
  padding: 6px 44px 6px 11px;
}
