.category {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  overflow: hidden;
  overflow-x: auto;
  gap: 8px;
  padding: 10px 0;
  a {
    width: 100%;
    display: flex;
    div {
      span {
        white-space: nowrap;
      }
    }
  }
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    // box-shadow: inset 5px px 5px #ccc;
    border-radius: 10px;
    background: #eee;
    cursor: pointer;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: var(--rs-blue-800);
    border-radius: 10px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: var(--rs-red-800);
  }
}


.grid {
  display: grid;
  column-gap: 12px;
  row-gap: 12px;
  margin: auto 24px;
  margin-bottom: 24px;
  @media (min-width: 1120px) {
    grid-template-columns: repeat(5, 1fr);
  }
  @media (max-width: 1120px) {
    grid-template-columns: repeat(4, 1fr);
  }
  @media (max-width: 990px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 525px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
