.listLink {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    font-size: 14px;
    cursor: pointer;

    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: flex-start;
    padding: 4px;
    button {
      width: 24px;
      padding: 4px !important;
      svg {
        font-size: 16px;
      }
      flex-shrink: 0;
    }
    span {
      a {
        color: inherit;
        &:hover {
          color: var(--rs-blue-800);
        }
      }
    }
  }
}
