.slideItem {
	height: 200px;
	background-color: #eee;
}

.arrow {
	font-size: 0;
	line-height: 0;
	position: absolute;
	top: 50%;
	display: block;
	width: 20px;
	height: 20px;
	padding: 0;
	transform: translate(0, -50%);
	cursor: pointer;
	color: transparent;
	border: none;
	outline: none;
	z-index: 2;
	svg {
		color: #333;
		font-size: 16px;
	}
}

.next {
	right: -10px;
}
.prev {
	left: -10px;
}
