.noItem {
  height: 50vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 0;
  > div {
    display: flex;
    align-items: center;
    flex-direction: column;
    .desc {
      font-size: 16px;
      color: #666666;
    }
    .icon {
      font-size: 54px;
    }
  }
}
