.title {
  font-size: 30px;
  border-width: 0;
  border-bottom-width: 1px;
  border-style: solid;
  border-color: rgba(226, 226, 226, 1);
  margin-top: 30px;
  margin-bottom: 30px;
  white-space: normal;
  overflow: visible;
  text-overflow: initial;
}
.divideLeft {
  margin-left: 0;
}

.sort {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
}

.pagi {
  padding: 10px 0;
  display: flex;
  justify-content: center;
}
.hideOnMD {
  display: block;
  @media (max-width: 768px) {
    display: none;
  }
}

.showOnMD {
  display: none;
  @media (max-width: 768px) {
    display: block;
  }
}

.grid {
  display: grid;
  column-gap: 12px;
  row-gap: 12px;
  // margin: auto 24px;
  margin-bottom: 24px;
  .gridItem {
    text-decoration: none;
  }
  @media (min-width: 1120px) {
    grid-template-columns: repeat(5, 1fr);
  }
  @media (max-width: 1120px) {
    grid-template-columns: repeat(4, 1fr);
  }
  @media (max-width: 990px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 525px) {
    grid-template-columns: repeat(2, 1fr);
  }
}
