.toolbar {
	color: red;
}

.brand {
	position: relative;
	padding: 18px 100px;

	> span {
		position: absolute !important;
		padding: 18px 100px !important;
		top: 50%;
		left: 0;
		transform: translateY(calc(-50%));
	}
}

.nav {
	position: sticky;
	top: 0;
	z-index: 99;
}
